.body {
    box-sizing: border-box;
    margin:0px;
    background-color: #FCFBF9;
    height:100vh;
}
header {
    padding: 16px 20px;
    height: 60px;
    color: #524c46;
    flex-direction: row;
    max-width: 600px;
    margin:auto;
}
.header {
    text-align: center;
}

.container {
    width:600px;
    margin:0 auto;
    padding: 20px;
}

.box {
    background-color: #FFF0F0;
    border-radius: 20px;
    font-size: 16px;
    padding: 20px;
}

.update-btn {
    max-width: fit-content;
    border-radius: 50px;
    background-color: #E85E5E;
    font-size: 14px;
    color:#FCFBF9;
    height:20px;
    padding: 4px 16px;
}

ul > li {
    font-size: 14px;
    word-break: keep-all;
    color: #524c46;
}


.start-btn {
    font-size: 20px;
    font-weight: 700;
    border:none;
    width:100%;
    text-align: center;
    border-radius: 50px;
    background-color: #FFD36E;
    padding: 14px 0px;


}